spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ticketero
    username: ticketero_user
    password: ticketero_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
  
  flyway:
    enabled: false

logging:
  level:
    com.example.ticketero: INFO
    org.springframework: WARN
    org.hibernate: WARN